:root{
    --tdsize: 12rem;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(memocards/wood.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
    
}
h2{
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}
.gombok{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    
    font-size: 21px;
    justify-content: space-between; 
    padding-left: 30%; 
    padding-right: 30%;
}
.gombok div{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 90px;
    height: 40px;
}
.reset{
    cursor: pointer;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.322);
}
.reset:hover{
    border-color: white;
}
.reset img{
    width: 30px;
}
.container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,150px); /* 4 oszlop */
    grid-template-rows: repeat(4, 150px);    /* 4 sor */
    gap: 8px;                              /* térköz a cellák között */
    padding: 8px;                          /* térköz a grid és a környező elemek között */
}

.card {
    border-radius: 10px;
    background-size: cover;
    transition: 0.3s;
    background-image: url(memocards/hatter.png);
}
.card:hover{
    translate: 20px 5px;
    rotate: 5deg;
    border: rgb(24, 91, 192) 4px solid;
}
#scoreboard{
    z-index: -1;
    position: absolute;
    background-color: rgba(11, 50, 102, 0.747);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreboardbef{
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
}
.scoreboardaft{
    opacity: 1;
    top: 35%;
    width: 60%;
    max-width: 500px;
    height: fit-content;
    transition: 2s;
    padding: 60px;
}
